/*ZA SVE STRANE*/
html{
	scroll-behavior: smooth;
}
*{
	padding:0px;
	margin:0px;
	font-family:'Poppins',sans-serif;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
#glava{
	height:50px;
	padding:18px;
}
#glava #g1{
	display:block;
	float:left;
	width:7%;
	height:100%;
	transition: transform 1.5s ease;
}
#glava #g1:hover{
	transform: rotateY(180deg);
}
#glava #g1 img{
	height:100%;
	width:100%;
	display:block;
}
#glava #g2 h1{
	display:block;
	float:left;
  	margin-left:20px;
	color:#6f280d;
}
.cleaner{
	clear:both;
}
#navigacija{
	background-color:#6f280d;
	margin:0px auto;
	width:100%;
}
#navigacija ul{
	width:85%;
	margin:0px auto;
}
#navigacija ul li{
	display:inline;
	float:left;
	width:20%;
	text-align:center;
	font-size:1.1em;
	background-color:#6f280d;
	transition: background-color 1s ease;
}
#navigacija li:hover{
	background-color:#b08e62;
}
#navigacija a{
	color:white;
	display: block;
	padding:15px 0px;
}
.active{
	background-color:#b08e62 !important;
}
main{
	background-color:white;
}
#naslov{
	text-align: center;
	color: #6f280d;
	padding: 30px;
}
#naslov hr{
	height: 6px;
	background-color: #6f280d;
	width:250px;
	margin: 0px auto;
	border-radius: 3px;
	border: none;
}
#futer{
	padding:30px;
	text-align:center;
	color:white;
	background-color:#6f280d;
}
#futer-div{
	width:90%;
	margin:0px auto;
}
.futer-red{
	display:inline;
	float:left;
	width:33.3%;
	color:white;
}
.futer-red img{
	height:168px;
	width:300px;
}
#prava{
	padding-top:30px;
}
#ikonice i{
	padding:5px;
}
.futer-red a{
	color:white;
}

/*POCETNA STRANA*/
#pocetna-pozadina{
	width:100%;
	height:500px;
	background-image:url("../img/pocetna-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position:relative;
}
#pocetna-pozadina-tamna{
	background-color:rgba(0, 0, 0, 0.5);
	position:absolute;
	box-sizing: border-box;
	text-align:center;
	width:100%;
	height:500px;
	color:white;
}
#pocetna-pozadina-tamna h2{
	font-size: 30px;
	position: relative;
	animation-name: ulaz-pocetna;
  	animation-duration: 1.5s;
	top:300px; 
}
#pocetna-pozadina-tamna p{
	font-size: 20px;
	position: relative;
	top:300px;
	animation-name: ulaz-pocetna;
  	animation-duration: 1.5s; 
}
.pocetna-red{
	width:70%;
	margin: 0px auto;
	margin-top: 20px;
	background-color: white;
	color: #6f280d;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pocetna-polje-l img, .pocetna-polje-d img{
	width:100%;
	height:100%;
	border-radius: 20px;
	transition: transform 0.5s ease;
}
.pocetna-polje-l img:hover, .pocetna-polje-d img:hover{
	transform: scale(1.1);
}
.pocetna-polje-l{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	float:left;
	width:50%;
	height:500px;
	padding:30px;
	box-sizing: border-box;
	text-align: justify;
}
.pocetna-polje-d{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	float:right;
	width:50%;
	height:500px;
	padding:30px;
	box-sizing: border-box;
	text-align: justify;
}
#sredina{
	box-shadow: 0px 0px 5px;
}
#sredina h3{
	text-align:right;
}


/*O NAMA*/
#o-nama-pozadina{
	width:100%;
	height:500px;
	background-image:url("../img/o-nama-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position:relative;
}
#o-nama-div{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	text-align: justify;
	margin: 0px auto;
	width:85%;
	color:#6f280d;
	padding:20px 0px 20px 0px;
}
#o-nama-div img{
	border-radius: 10px;
}
#o-nama-l{
	width:25%;
}
#o-nama-sredina{
	width:50%;
}
#o-nama-d{
	width:25%;
}
#o-nama-l img{
	width: 250px;
	height: 350px;
}
#o-nama-d img{
	width: 250px;
	height: 350px;
	float: right;
}
#o-nama-l img,#o-nama-d img{
	transition: transform 0.5s ease;
}
#o-nama-l img:hover, #o-nama-d img:hover{
	transform: scale(1.1);
}

/*GALERIJA*/
#galerija-pun{
	width:80%;
	padding:50px;
	margin:0px auto;
	box-sizing: border-box;
}
.galerija-red{
	display:block;
	margin: 0px auto;
	box-sizing: border-box;
}
.galerija-polje{
	display:block;
	float:left;
	width:33.3%;
	height:33.3%;
	padding:10px;
	border-radius:20px;
	box-sizing: border-box;
}
.galerija-polje img{
	display:block;
	width:100%;
	height:100%;
	border-radius: 20px;
	transition: transform 0.5s ease;
	box-sizing: border-box;
}
.galerija-polje img:hover{
	transform: scale(1.075);
}

/*KONTAKT*/
#kontakt-div{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width:70%;
	padding:40px 0px 40px 0px;
	margin: 0px auto;
}
#kontakt-forma{
	width:50%;
	display:block;
	float:right;
	position: relative;
  	animation-name: ulaz-stranal;
  	animation-duration: 1.5s; 
}
#kontakt-forma h2{
	color:#6f280d;
}
#kontakt-forma input,#kontakt-forma textarea{
	border:none;
	border-bottom: 3px solid #6f280d;
	color:#6f280d;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: white;
	width: 450px;
}
#kontakt-forma input[type="text"]{
	width:223px;
}
#kontakt-forma textarea{
	border:none;
	border-bottom: 3px solid #6f280d;
	color:#6f280d;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: white;
	width:450px;
	height:220px;
}
#kontakt-forma input:focus,#kontakt-forma textarea:focus{
	border:none;
	background-color:#6f280d;
	color:white;
	outline:none;
}
input::placeholder,textarea::placeholder{
	color:#6f280d;
}
input:focus::placeholder,textarea:focus::placeholder{
	color:white;
}
#kontakt-forma button{
	padding:5px 10px;
	margin:5px;
	color:#6f280d;
	border:3px solid #6f280d;
	background-color: white;
	font-weight: bold;
	transition: color 0.5s ease, background-color 0.5s ease;
	border-radius: 9px;
}
#kontakt-forma button:hover{
	color:white;
	background-color:#6f280d;
	cursor: pointer;
}
#kontakt-mapa{
	width: 50%;
	height:500px;
	border: 3px solid #6f280d;
	border-radius:20px;
	position: relative;
  	animation-name: ulaz-stranad;
  	animation-duration: 1.5s; 
}
#kontakt-mapa iframe{
	width: 100%;
	height: 100%;
	border-radius:20px;
	display:block;
	float: right;
}

/*AUTOR SAJT*/
#autor-slika{
	padding:50px;
}
#autor-slika img{
	border-radius: 50%;
	border:5px solid #6f280d;
	display: block;
	margin: 0px auto;
}
#autor-text{
	text-align: center;
	padding:0px 50px 50px 50px;
}
#autor-text h2,#autor-text h3,#autor-text p{
	position: relative;
	color:#6f280d; 
}

/*ANIMACIJE*/
@keyframes ulaz-pocetna{
	from{
		top:-1200px;
	}
	to{
		top:300px;
	}
}
@keyframes ulaz-stranad{
	from{
		right:-1000px;
	}
	to{
		right:0px;
	}
}
@keyframes ulaz-stranal{
	from{
		left:-1000px;
	}
	to{
		left:0px;
	}
}